.home-section {
    padding: 2rem 1.5rem 3rem;
    margin-bottom: 3rem;
    margin-top: 3.5rem;
  }


  
  .home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }
  
  .home-text {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
    text-align: left;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .home-text h1 {
    font-size:  5rem; /* Responsive text with a flexible size */
    font-weight: bold;
    color: #58A8B5;
    margin-left: -7rem;
  }
  
  .home-text .highlight {
    color: #58A8B5;
  }
  
  .home-text p {
    font-size: clamp(1rem, 2vw, 1.25rem); /* Responsive paragraph size */
    color: #636262;
    margin-left: -6.8rem;
    margin-bottom: 1rem;
  }
  
  .order-btn {
    background-color: #58A8B5;
    color: #EBF5F6;
    border: none;
    margin-left: -6.8rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: background 0.3s ease;
  }
  
  .order-btn:hover {
    background-color: #5baab8;
  }
  
  .home-image {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
    text-align: center;
  }
  
  .home-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    transform: rotate(10deg);
    max-height: 1000px; /* Limits tall images */
    overflow: hidden;
    margin-left: 10rem;
  }

  .wave-img {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    transform: translateY(55%); /* Adjust this to fine-tune position */
  
  
  }
  
  